@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lexend', sans-serif;
}

.header {
  background-color: black;
  color: white;
  display: flex;
  height: 13vh;
  font-size: 1.7rem;
  justify-content: center;
  align-items: center;
}

.container {
  color: white;
  box-sizing: border-box;
  padding: 1rem 25rem 1rem 25rem;
  height: 80vh;
  background: url(img/mojtaba-mohammadi-azbFk_fV9_U-unsplash.jpg);
  display: grid;
  grid-template-rows: 1fr 8fr;
  justify-content: center;
}

.form {
  padding-bottom: 1rem;
}
.form > form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form > label {
  padding: 1.3rem;
  box-sizing: border-box;
  font-size: 1.1rem;
}

input {
  background-color: rgba(255, 255, 255, 0.444);
  border: 0;
  border-radius: 20px;
  height: 1.5rem;
  width: 14rem;
  box-sizing: border-box;
  padding-left: 5px;
}

#submitBtn {
  height: 2rem;
  width: 5rem;
  border: 0;
  border-radius: 2rem;
  font-size: 1.01rem;
  transition: transform 0.4s ease;
}

#submitBtn:hover {
  transform: scale(1.09);
}

.main {
  background-color: rgba(255, 255, 255, 0);
  backdrop-filter: blur(12px);
  box-sizing: border-box;
  height: 54vh;
  width: 90vh;
  padding: 1rem;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.071);
  border-radius: 2rem;
}

.card-big,
.card-small {
  box-sizing: border-box;
  border: 1.7px dashed rgba(255, 255, 255, 0.499);
  border-radius: 1rem;
  padding-left: 0.5rem;
}

.card-big {
  height: 96%;
  grid-row: 1/-1;
}
.card-small {
  height: 11rem;
}
.footer {
  height: 7vh;
  color: white;
  flex-direction: column;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
a {
  color: white;
  transition:
    color 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
}

a:hover {
  box-shadow: inset 120px 0 0 0 #d20066;
}
